[2019-12-31 11:37] mkurc-ant opened #3 "XDC plugin missing annotations"
The XDC plugins fails to annotate I/O bufs if they are not connected directly to the top-level port. For example, for design like that the annotation works fine:
[code]

But for this one it does not provided that the `intermediate_wire` doesn't get optimized by Yosys:
[code]

The XDC plugin should traverse from the top-level port down (or up) to any cell and annotate it if it is an IO buffer. Righ

[2020-01-30 10:15] tmichalak opened #6 "Travis: Add travis utility functions to for adding sections instead of echos"
Currently the `build-and-test.sh` script uses echos to add travis sections.
This could be done with nice utlity functions added to the common travis script, like https://github.com/litex-hub/litex-conda-packages/blob/9b201004a699af707afc0745e57a06c223e4f545/.travis/common.sh#L32-L43

[2020-01-31 10:14] tmichalak commented on #3
Solved with #4

[2020-01-31 10:14] #3 closed

[2020-02-11 15:58] litghost opened #7 "XDC pluging should report it's version."
Both yosys and VPR report githash and version when used:

yosys:
[code]

VPR:
[code]

The yosys XDC and FASM plugins should do something similar.

[2020-02-19 19:38] litghost opened #8 "Assertion violation during XDC plugin"
The symbiflow-arch-defs PR https://github.com/SymbiFlow/symbiflow-arch-defs/pull/1321 causes the following assertion failure:
[code]

when the target `file_xc7_tests_ddr_ddr_uart_arty_artix7-xc7a50t-virt-xc7a50t-test_top.eblif` is built.  It is unclear if this is a latent yosys bug or a latent XDC plugin bug.

@tmichalak: Ideas?

[2020-02-19 19:39] litghost commented on #8
Regardless if this was a bug in the input data, the error message from yosys + the XDC plugin is not good enough.

[2020-02-19 20:23] litghost commented on #8
Small replication: [yosys_plugin.tar.gz](https://github.com/SymbiFlow/yosys-symbiflow-plugins/files/4227266/yosys_plugin.tar.gz)

[2020-02-19 20:23] tmichalak commented on #8
It seems to be related to some changes in Yosys during mapping as it works fine with `Yosys 0.9+932 (git sha1 81876a37, clang 8.0.0 -fPIC -Os)`, but fails with the assertion with `Yosys 0.9+1706 (git sha1 c244b27b, clang 6.0.0-1ubuntu2 -fPIC -Os)`. I will look into it.

[2020-02-21 18:59] litghost commented on #8
Any progress on this?

[2020-02-21 23:11] litghost commented on #8
I've identified the bug

[2020-02-25 01:47] litghost opened #10 "Create tests for #9"
Should there potentially be a test for this?

_Originally posted by @mithro in https://github.com/SymbiFlow/yosys-symbiflow-plugins/pull/9#issuecomment-589876994_

[2020-02-25 01:47] litghost commented on #10
When writing a test for #9, I hit https://github.com/YosysHQ/yosys/issues/1720 .  Until https://github.com/YosysHQ/yosys/issues/1720 is fixed, working on tests downstream of yosys doesn't make a ton of sense.

[2020-02-25 02:06] litghost commented on #8
Fixed by #9

[2020-02-25 02:06] #8 closed

[2020-05-07 08:20] mkurc-ant opened #13 "XDC plugin doesn't understand port indexes properly"
It's a TCL thing. When a port is retrieved using eg. `[get_ports A[10]]` the TCL parser treats the port index in square brackets as another TCL command and fails there. This prevents us from using stock XDC files. A workaround for that is to specify the port like `[get_ports {A[10]}]`.

A fix may be doing some kind of pre-processing of XDCs prior to feeding them to the Yosys' TCL interpreter.

[2020-05-07 15:08] mithro commented on #13
See @whitequark's twitter for how Vivado solves this problem.

[2020-05-07 15:09] mithro commented on #13
https://twitter.com/whitequark/status/1256506061462409218?s=20

[2020-05-07 15:09] mithro commented on #13
Vivado uses Tcl for scripting FPGA flows. Vivado allows using bracketed numbers in Tcl strings, e.g. [get_ports foo[1]] works. how?

[2020-05-08 04:39] whitequark commented on #13
You can override [the [unknown] command](https://www.tcl.tk/man/tcl8.6/TclCmd/unknown.htm) to achieve this result.

[2020-05-08 07:12] mkurc-ant commented on #13
Thanks, that's interesting and definitely worth a shot.

[2020-05-26 16:38] #13 closed

[2020-06-16 12:30] tmichalak opened #17 "Create plugin to do math on real numbers"
This affects PLL phase parameters. Instead of eg. 90.0 it has to be specified as 90000. This makes eg. LiteX generated verilog files not work.
We need to create an XDC plugin that will perform the required computations and set the values on the required parameters, which end up in eblif, instead of having to add some [verilog functions](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/fb5be9e

[2020-06-16 12:37] tmichalak opened #18 "Add support for SDC constraint propagation through clock primitives"
SDC information should be imported into Yosys from XDC and attached to the right entities.
Next the information should propagate across PLL, BUF, MCMM primitives.
Finally, the SDC information should be exported from Yosys in form of an SDC file.

[2020-06-17 16:31] JakubJatczak opened #19 "Add support for building on Windows"
Current Makefile fails when used in Windows conda enviroment.
yosys-config outputs:
[code]
I attach  patch with minimal changes needed to have successful build.
[win_build.txt](https://github.com/SymbiFlow/yosys-symbiflow-plugins/files/4793927/win_build.txt)

[2020-06-26 23:12] FFY00 opened #20 "Build system tries to create a file on the system during the build step"
[code]

[2020-06-26 23:14] FFY00 opened #21 "Build system does not respect `DESTDIR`"
[code]

[2020-06-27 07:10] Xiretza commented on #20
The default target is `install`: https://github.com/SymbiFlow/yosys-symbiflow-plugins/blob/master/Makefile#L7. Using `make plugins` instead avoids installation:

[code]

[2020-07-03 22:43] sylv-io opened #22 "yosys: Use of C++11 final/override keywords breaks build process"
Since this change in yosys, it is not possible to build the plugins.

Related upstream issue: https://github.com/YosysHQ/yosys/pull/2173
Related fork merge: https://github.com/SymbiFlow/yosys/pull/80

[2020-07-06 18:15] litghost commented on #22
Yep, PR opened to fix it.

[2020-07-06 18:36] #22 closed

[2020-07-06 22:40] #20 closed

[2020-07-07 09:22] sylv-io commented on #22
great thanks :+1:

[2020-07-28 16:34] tmichalak commented on #17
For now the necessary calculations will be performed in TCL. A [plugin](https://github.com/SymbiFlow/symbiflow-arch-defs/issues/1536) with the getparam command has been implemented which together with the existing setparam can be used to manipulate the required parameter values before techmapping. The integration is part of an [arch-defs issue](https://github.com/SymbiFlow/symbiflow-arch-defs/issu

[2020-07-28 16:34] #17 closed

[2020-08-25 14:28] kamilrakoczy opened #28 "Add support for setting default DRIVE value in XDC plugin"
XDC plugin should set default value to DRIVE property if IOSTANDARD property is set.

[2020-09-02 13:04] tmichalak opened #30 "Split SDC plugin into separate timing constraints related plugins"
The objective is to divide the functionalities of the current SDC plugin into 2 optionally 3 separate plugins:
1. 'sdc' -- The part which reads SDC into the Yosys attributes, i.e. `read_sdc` and `write_sdc`
2. 'propagate-constraints' -- The part which propagates the constraints in the Yosys attributes across things like clock buffers and similar, i.e. `propagate_clocks` (and maybe future things li

[2020-09-02 13:07] tmichalak commented on #30
@mithro @litghost Please have a look if the description correctly captures the main idea of the SDC plugin split.

[2020-09-02 16:00] mithro commented on #30
This is correct.

I would say that storing the information in parameters is a separate issue that should be logged.

[2020-09-04 09:41] acomodi opened #31 "PACKAGE_PINs constraint is not correctly parsed"
When LOCing a port to a specific PAD, the XDC can have to different forms

1. `set_property LOC A1 [get_ports {port}]`
2. `set_property PACKAGE_PIN A1 [get_ports {port}]`

Case 1 is handled, while case 2 is missing, causing the `port` to remain unconstrained.

[2020-09-04 09:43] acomodi opened #32 "Dictionaries of properties are not handled in the XDC plugin"
The XDC constraint file can contain dictionaries of properties to enable for a given port:

[code]

Currently the XDC plugin is not yet able to parse dictionaries.

[2020-09-07 14:14] tmichalak opened #33 "Add missing SDC commands used in Litex generated XDC"
The SDC commands used in the auto-generated XDC [PR](https://github.com/SymbiFlow/symbiflow-arch-defs/pull/1657) are:

- [x] create_clock
- [x] set_false_path
- [x] set_max_delay
- [x] set_clock_groups
- [x] get_clocks

`create_clock` is already supported in the [SDC plugin](https://github.com/SymbiFlow/yosys-symbiflow-plugins/pull/27), however the target net is wrapped in the `get_nets` command w

[2020-09-09 15:12] tmichalak commented on #31
Fixed in #34. Closing.

[2020-09-09 15:12] #31 closed

[2020-09-09 16:18] mithro commented on #33
@tmichalak - The `set_false_path` and `set_max_delay` should be applied to the correct cells and then the data extracted again when writing out the SDC. This is important as the cells might change names, be removed, etc due to optimizations and stuff.

[2020-09-09 17:29] tmichalak commented on #33
@mithro Yes I figured out that simply writing out these commands as the come in in the original SDC will not work.
For example for minilitex_ddr we have:
[code]
so this looks more like applying it to the correct pin.
However, just by looking at the above example it seems that we will need to have the `get_pins` command support filtering and stuff just like Vivado.
For the first version of the SDC

[2020-09-09 17:30] mithro commented on #33
I think we want to support the filtering commands? They should be pretty simple right?

[2020-09-22 16:44] tmichalak opened #39 "read_xdc command accepts unknown commands"
Currently if the file that is read with the read_xdc command contains an unknown command no error is reported.
This is caused by the fact that read_xdc makes use of the `unknown args` procedure and implements the handler which returns the string of the called command surrounded by square bracket.
We need to make sure commands that are not number will error out.

[2020-09-22 16:47] litghost commented on #39
Also if a number if supplied with more arguments.

So examples:
[code]

[2020-09-22 16:47] litghost commented on #39
Also we discussed having an option on `read_xdc` to control whether the behavior is a warning or an error.

[2020-10-02 07:01] tmichalak commented on #18
Initial support for Natural, Buffer and Clock Divider propagation has been implemented in PRs #27 and #37.

[2020-10-02 07:01] #18 closed

[2020-10-08 23:03] litghost opened #45 "Some plugins hold live pointers beyond liveness scope"
The current implementation of the SDC plugin holds RTLIL objects between TCL commands.  Because of this, changes to those pointers (e.g. techmap passes, etc) cause those pointers to become invalid.

Test case for the SDC plugin attached: [test.zip](https://github.com/SymbiFlow/yosys-symbiflow-plugins/files/5351665/test.zip)

[2020-10-08 23:04] litghost commented on #45
There may be more examples of this.  In general, passes can only ensure liveness of RTLIL objects within the scope of the pass, and no longer.  Holding these pointers between invocations is not safe, and will result in memory corruption.

[2020-10-08 23:10] litghost commented on #45
@tmichalak This is the highest priority issue, and must be resolved.  This is not optional.

[2020-10-09 09:47] tmichalak commented on #45
@litghost so for SDC the issue is that we are storing pointers to RTLIL::Wire* in the Clock objects, right?
In case Yosys destroys the wires what should be the desired behavior apart from not crashing (in this a simple !=NULL will do)?
Removing the Wire and clock if that is the last or only one clock wire?

[2020-10-09 17:23] litghost commented on #45
You cannot hold the pointers at all.  It is not a safe behavior.  My recommendation is to defer module inspection until when you are ready to do so (e.g. write_sdc).  Having intermediate `RTLIL::Wire*` objects between TCL calls/yosys passes will always be unsafe.

Pointer checks are useless here, because yosys deleting an address won't update the pointer copy held in the Clocks object.

[2020-10-13 12:21] tmichalak opened #48 "Improve get_nets to return logical nets instead of wires."
Getting logical nets out of Yosys is more tricky, we might need to examine cell connections.
The current implementation return wires, but a net may consist of multiple wires.

[2020-10-13 16:02] litghost commented on #48
The Vivado net convention is to name the net after the driver wire.

[2020-10-19 12:07] tmichalak commented on #45
@litghost I created a draft PR targeting the issue.
Basically, I created a write_sdc script pass command which wraps the `propagate_clocks` and `write_sdc` commands effectively postponing the clock propagation to when `write_sdc` is called.
As for the pointers, I am just cleaning the clock structure after each run, so this is not optimal since every `write_sdc` triggers a new clock propagation ste

[2020-10-19 17:06] litghost commented on #45
This is correct, but the SDC plugin doesn't get a signal from Yosys that the relevant objects no longer exists, hence the memory corruption angle.

[2020-10-29 16:29] #45 closed

[2020-11-03 08:32] tmichalak opened #53 "SDC: Improve clock propigation and clock object handling"
I think we may have a conceptual mismatch with how Vivado treats clock objects. The clock object on both sides of a IBUF and BUFG are the same clock object. So for example, there should really just be 1 clock clk, which has multiple netss that are on that clock. PLL's / MMCM's and BUFGCTRL's do split clock definitions because the underlying properties of the clock change across the elements.

Cloc

[2020-11-24 18:21] mithro opened #56 "Make sure that all plugins have nice auto-generated documentation in Sphinx"
All the plugins should have nice documentation published on Sphinx.

[2020-11-24 18:21] mithro commented on #56
@rw1nkler - What is the correct approach for this repo which is mostly C code? Something like the Verilog to Routing set up?

[2020-11-24 18:22] mithro commented on #56
@tmichalak -- Who should take on this work?

[2020-11-24 18:31] rw1nkler commented on #56
The setup for C/C++ code is simple. I can prepare it for this repository. The most important part is to document the code using Doxygen code comments.

[2020-12-02 11:13] tmichalak opened #59 "Remove workaround with skipping clocks on dangling wires"
PR https://github.com/SymbiFlow/yosys-symbiflow-plugins/pull/57 has been created to fix the [reported problem](https://github.com/SymbiFlow/symbiflow-arch-defs/issues/1753#issuecomment-733165240).
This is needed to the 200T designs to work with SymbiFlow, but the problem is in fact in VPR  as it sweeps the netlist and invalidates an SDC that was originally valid.

[2020-12-02 18:25] mithro commented on #59
@tmichalak - Didn't we discover that there are two issues;
 - (a) Yosys is producing output in the BLIF that VPR sweeps.
 - (b) VPR is sweeping away stuff but not updating the SDC.

[2020-12-02 19:26] tmichalak commented on #59
@mithro Yes, that is correct.

[2020-12-08 15:49] rw1nkler opened #62 "Fix curly brackets support in get_ports commands"
Many public XDC files provide `get_ports` arguments in curly brackets:
https://github.com/Digilent/digilent-xdc/blob/master/Arty-A7-35-Master.xdc#L7

Currently, support for this feature is missing / incomplete. The following XDC file:
[code]
causes the following error during the Yosys synthesis step:
[code]

After removing the curly brackets, everything works as intended:
[code]

[2020-12-08 17:48] IshwarJeet commented on #62
I'm new to pragrammimg. let me handle this issue

[2020-12-08 17:55] rw1nkler commented on #62
Sure! In case you need any additional information, don't hesitate to ask!
Me and @tmichalak will be happy to help you

[2020-12-08 18:17] IshwarJeet commented on #62
can you assist me in this

[2020-12-08 19:57] rw1nkler commented on #62
Of course! Here is the plugin source file:
https://github.com/SymbiFlow/yosys-symbiflow-plugins/blob/master/xdc-plugin/xdc.cc

First, make sure that you can compile Yosys and run it with the XDC plugin.
This requires setting some options for Yosys, or copying the files manually.

Tomorrow, I can give you more detailed information how to do that and test the plugin.

[2020-12-09 13:50] acomodi opened #64 "SDC plugin does not output the BUFG out clocks anymore"
With the clock propagation enhancements done in https://github.com/SymbiFlow/yosys-symbiflow-plugins/pull/54, the resulting SDC does not take into account the output clock from BUFGs connected to the PLL outputs.

This causes VPR to not correctly constrain clock signals, resulting in higher run-time and an `nan` CPD, such as in the following example:

[code]

Resulting SDC:
[code]

This example is

[2020-12-09 16:28] tmichalak commented on #64
@acomodi So the current behavior is expected as the clock parameters (period, waveform) on the BUFGs are the same as on the PLL output wires that are driving them.
So what you expect is the following SDC:
[code]

Of course what is worrying is the fact that the clocks for crg_clkout1 and crg_clkout2 so CLKOUT1 and CLKOUT2 outputs of the PLL are not in the SDC. Is the SDC you pasted complete?

[2020-12-09 16:39] acomodi commented on #64
@tmichalak Those are absent as the test is the minilitex one, wihtout DDR and Ethernet. Yosys prunes away the BUFG related to CLKOUT1 and CLKOUT2, and the SDC plugin discards those nets and does not output them in the final SDC, so that SDC is complete indeed.

What is missing though is also the CLKIN to the PLL which I am not sure why was not added.

[2020-12-09 16:58] tmichalak commented on #64
You mean `CLKIN1`? Well, it's driven by some explicitly added clock thus is itself neither an explicit (added by create_clock) or generated (propagated from the explicitly added clock wire but with different clock parameters).

[2020-12-12 07:24] IshwarJeet commented on #62
tell me more on how to do that

[2020-12-12 10:52] rw1nkler commented on #62
Here are instructions that will allow you to reproduce my error. I created another branch with the failing syntax, so it will be easier for you to set up a working project.

1. Create a workspace directory:

[code]

2. Download, compile, and install `yosys`. It is also possible to proceed without installing `yosys` globally but this option requires a more complicated `yosys-plugins` setup.
[code]

[2020-12-14 15:41] mithro commented on #64
Poke?

[2020-12-14 15:41] mithro commented on #64
What is the status here?

[2020-12-14 16:44] tmichalak commented on #64
@acomodi from my perspective the current behavior is expected. So adding this exception would be VPR specific. @litghost thoughts?

[2020-12-14 16:59] acomodi commented on #64
The main issue comes from the fact that VPR is not able to propagate the clocks. In fact, this is what results when running in VPR:

[code]

The only constrained nets are the PLL clock output nets.
If the SDC lacks `sys_clk`, the entire logic of the LiteX core will be unconstrained at the moment.
I think that, for the time being we should output the SDC relative to all the clcock different clock n

[2020-12-14 17:22] litghost commented on #64
So I believe the fixes in #54 are good, but we do need a "verbose" SDC output for VPR.  So make `write_sdc` needs a `-include_propigated_clock` option, and we use that for VPR?

[2020-12-14 17:24] tmichalak commented on #64
@acomodi @litghost Adding a switch will work.

[2020-12-14 17:57] mithro commented on #64
@tmichalak - Yes, we most certainly want to be able to write a SDC file with all clocks propagated, that was one of the points of pulling the data into Yosys in the first place...

[2020-12-15 07:46] tmichalak commented on #53
Solved by #54

[2020-12-15 07:46] #53 closed

[2020-12-15 07:47] tmichalak commented on #33
Basic versions of all of the necessary commands have been implemented.

[2020-12-15 07:47] #33 closed

[2020-12-15 07:48] tmichalak commented on #6
This has been already implemented.

[2020-12-15 07:48] #6 closed

[2020-12-15 08:48] tmichalak commented on #64
@acomodi @litghost @mithro I created a PR with the `include_propagated_clocks` switch: #65

[2020-12-15 10:50] tmichalak opened #66 "Design introspection: Add selection support to get_ports command"
Currently `get_ports` is doesn't support the selection mechanism as all other introspection commands.
This is due to the fact that the `select` command doesn't distinguish bus indexes in the wire name.
The index part has to be extracted and removed when the selection is executed, but restored during the selection extraction.

[2020-12-15 17:00] litghost commented on #66
Can you add examples of what is not working right now?

[2020-12-15 17:05] tmichalak commented on #66
Updated the description

[2020-12-17 21:54] #62 closed

[2021-01-16 06:49] hzeller opened #71 "Some tests with golden files are dependent on particular yosys"
Running tests that compare against golden files are sensitive to the particular yosys the golden files have been produces with, as they often contain generated names that are dependent on the circumstances.

For instance, running
[code]
on my machine results gets a different result for the cells compared to the [golden file](https://github.com/SymbiFlow/yosys-symbiflow-plugins/blob/master/design_i

[2021-01-22 20:00] Xiretza commented on #21
Should be as easy as adding a `$(DESTDIR)` to https://github.com/SymbiFlow/yosys-symbiflow-plugins/blob/2894db22d21c055606612be35b78fe87746dc161/Makefile_plugin.common#L43

[2021-01-26 12:58] ajelinski opened #74 "macOS: There's no `-D` switch in BSD `install`"
One of the latest commits (https://github.com/SymbiFlow/yosys-symbiflow-plugins/commit/c613a356f3b5a6e93d2ba64f3568f4e47cef4768) added the `install -D` command.

After that change building the *plugins* on macOS fails in the https://github.com/litex-hub/litex-conda-eda repository.

The BSD's `install -d` seems to have a similar meaning to the GNU's `install -D` but I'm not sure about that:
[code]

[2021-02-01 19:24] mithro opened #76 "Improve the README file"
It should atleast list what plugins are in this repository.

[2021-02-01 19:24] mithro commented on #76
@tgorochowik / @mgielda

[2021-02-03 12:03] donn opened #78 "How to make get_count work in Tcl scripts?"
I'm using the version hosted in litex-hub's conda repo thing.

I must say, I'm a bit mystified by something. In that version, with the environment set up using conda, tcl scripts using get_count work fine.

But when I set it up manually by compiling both yosys and the plugins, I get this error:

[code]

Curiously, the xdc plugin works fine even when compiled from scratch.  I thought I might be usi

[2021-02-03 13:26] Xiretza commented on #78
What is the exact yosys command line you're using? The following works for me:

[code]

[2021-02-03 13:38] donn commented on #78
Just the standard eos-s3 ql_symbiflow script.

[code]

[2021-02-03 13:41] donn commented on #78
I should mention your minimal script worked fine so I have absolutely no clue what's going on anymore.

[2021-02-03 13:55] Xiretza commented on #78
Your `ql_symbiflow` still uses the `synth` script without `symbiflow_` prefix, which was changed a few months ago [here](https://github.com/QuickLogic-Corp/symbiflow-arch-defs/commit/dddcbc4b33d9785720dc0134e8062e0dc350f762#diff-d42600a744c15753bb444867d01ec9bad97a36998f1b3b05997214e58141dae4R384), so looking for a more recent version might help. Other than that I can't really help though, I've ne

[2021-02-03 13:57] donn commented on #78
Thanks for the help!

[2021-02-03 14:10] tmichalak commented on #78
@donn I believe you question has been answered? And issue can be closed?

[2021-02-03 14:11] donn commented on #78
I'm trying the new ql_symbiflow and will report accordingly.

[2021-02-03 14:15] tmichalak opened #79 "Integrate selection and get_count plugins into design introspection plugin"
Currently the `get_count` and `select_to_tcl_list` commands are implemented as separate plugins.
Since they are used to get information about the design it makes sense to integrate them into the `design_introspection` plugin.

[2021-02-03 14:40] donn commented on #78
No dice, I'm afraid. Thanks for the help regardless.

[2021-02-03 14:40] #78 closed

[2021-02-26 09:35] tmichalak commented on #79
Closed with #83

[2021-02-26 09:35] #79 closed

[2021-03-22 16:40] hzeller commented on #74
Oh, sorry, just seen this bug assignment. Will make something that should work in both.

[2021-04-02 03:49] szhou888 opened #102 "Whether it could use in windows?"
The plugins support as a part of yosys to use in windows?

[2021-04-07 01:09] szhou888 commented on #102
I use compile xdc as a part of yosys for cygwin and I found that it could use! Then I tested as here:
`yosys -import
read_verilog counter.v
synth_xilinx -flatten -abc9 -nosrl -noclkbuf -nodsp
read_xdc -part_json xc7a35tcsg324-1.json counter.xdc
write_json "counter.json"`
but the result was not well and then I changed the code to print the wrong information as here:
`#set_property LOC R2 [get_ports

[2021-04-07 02:30] szhou888 commented on #102
I changed the xdc to this :
`
#set_property LOC R2 [get_ports led]
#OBUF_6
set_property DRIVE 12 led[0]
#OBUF_7
set_property IN_TERM UNTUNED_SPLIT_40 led[1]
set_property SLEW FAST led[1]
set_property IOSTANDARD SSTL135 led[1]
#OBUF_OUT
set_property IN_TERM UNTUNED_SPLIT_50 [get_ports {out_a}]
set_property SLEW FAST [get_ports {out_a}]
set_property IOSTANDARD LVCMOS33 [get_ports {out_a}]
#bottom_in

[2021-04-07 03:29] szhou888 commented on #102
I changed the code:
`
Tcl_Eval(interp, "proc unknown args { return [lindex $args 1] }");

 //   Tcl_Eval(interp, "proc unknown args { return \\[[lindex $args 0]\\] }");
`
And test log is here:
`
#set_property LOC R2 [get_ports led]
#OBUF_6
set_property DRIVE 12 [get_ports {led[0]}]
#OBUF_7
set_property IN_TERM UNTUNED_SPLIT_40 [get_ports {led[1]}]
set_property SLEW FAST [get_ports {led[1]}]
set_pr

[2021-04-11 17:26] mithro opened #103 "Add license checking github action"
https://github.com/SymbiFlow/actions/tree/main/checks

[2021-04-11 17:37] mithro commented on #103
Example at https://github.com/SymbiFlow/symbiflow-rr-graph/blob/master/.github/workflows/licensing.yml

[2021-04-26 20:16] #32 closed

[2021-06-18 08:51] #103 closed

[2021-09-08 21:29] hzeller opened #133 "Rebase uhdm-plugin fork onto head of this project"
(since I can't file issues with https://github.com/antmicro/yosys-symbiflow-plugins, filed here).

Once the Andmicro branch is rebased to head of this repository, it is easier for places that now use yosys-symbiflow-plugins head to switch to the Antmicro fork.

Also since now the plugin is working, even if it is not 'complete' yet, consider actually continuing the development on this upstream repo

[2021-09-09 16:53] #133 closed

[2021-10-06 19:03] Talha-Ahmed-1 opened #138 "ERROR: set_property IO_LOC_PAIRS: Incorrect number of arguments."
Can anyone figure out this.

[code]

[2021-10-06 19:07] kgugala commented on #138
hi @Talha-Ahmed-1 can you link to the design you're trying to build?

[2021-10-06 19:50] Talha-Ahmed-1 commented on #138
https://github.com/Talha-Ahmed-1/picofoxy

[2021-11-12 09:33] gergoerdi opened #144 "Wrong synthesis result when buses are not 0-addressed"
This is in relation to https://github.com/YosysHQ/yosys/issues/3078 where I was told that the debug output of Yosys is just misleading, i.e. the problem should be elsewhere in the toolchain.

Given the following Verilog input:

[code]

I am synthesizing for the Nexys A7 50T dev board with a Xilinx xc7a50tcsg324 FPGA. I connect `LED[5:2]` to the LEDs on board with the following XDC:

[code]

If I s

[2021-11-12 17:20] mithro commented on #144
I'm pretty sure this is an issue with the XDC plugin as a number of the `OBUFT_VPR` modules do not have `IO_LOC_PAIRS` value set.

[2021-11-12 17:20] mithro commented on #144
PTAL - @tmichalak

[2021-11-15 15:54] tmichalak commented on #144
Yes, this looks like a bug in the plugin. I will look into it.

[2021-11-17 07:36] olofk opened #147 "Building ql-qlf-plugin fails due to missing isPublic member"
[code]

[2021-11-17 07:37] olofk opened #148 "Building uhdm plugin fails due to missing uhdm.h"
[code]

[2021-11-18 19:57] kgugala commented on #148
@olofk I believe this is already solved. Can we close this issue?

[2021-11-18 21:29] olofk commented on #148
Yes. It could be worth mentioning where to find the uhdm library, but I understand that things are still up in the air and that https://github.com/antmicro/yosys-uhdm-plugin-integration is the best entrypoint for now

[2021-11-18 21:29] #148 closed

[2021-12-13 22:59] tmichalak commented on #144
Closed with #161

[2021-12-13 22:59] #144 closed

[2021-12-29 04:24] fontamsoc opened #177 "ERROR: Incorrect period value"
https://lists.librecores.org/pipermail/symbiflow/2021-December/000049.html

Hello,

I am attempting to build [FonTamSOC](https://github.com/fontamsoc)
targeting NexysA7.

However, `symbiflow_synth` fails with `ERROR: Incorrect period value`
at the end of the logs.

Steps to reproduce failure:
[code]

[2021-12-29 11:37] tmichalak commented on #177
@fontamsoc I couldn't reproduce the error on my end. What version of the symbiflow-plugins do you use? Is it the same as [here](https://github.com/SymbiFlow/symbiflow-examples/blob/master/xc7/environment.yml#L11) ?
Have you ever built the sdc plugin manually. If so then there is a [debug option](https://github.com/SymbiFlow/yosys-symbiflow-plugins/blob/master/Makefile_plugin.common#L51) that print

[2021-12-29 15:18] fontamsoc commented on #177
HI @tmichalak,

I have updated steps to reproduce to `git checkout issues/177` which is the same SHA `44c4298`.

I have never built sdc plugin manually; however I have installed SymbiFlow using following instructions:
https://symbiflow-examples.readthedocs.io/en/latest/getting-symbiflow.html

I was able to work around the issue removing `-add` from `create_clock` at:
https://github.com/fontamsoc/h

[2021-12-29 18:39] mithro opened #178 "Usage of log_cmd_error in sdc-plugin leads to less than ideal error messages"
The `sdc-plugin` uses `log_cmd_error` to report a number of issues, see;
https://github.com/SymbiFlow/yosys-symbiflow-plugins/blob/91d7db03ddbee23f9ff91f395de1692a37e51362/sdc-plugin/sdc.cc#L130
and
https://github.com/SymbiFlow/yosys-symbiflow-plugins/blob/91d7db03ddbee23f9ff91f395de1692a37e51362/sdc-plugin/sdc.cc#L153

However it seems that `log_cmd_error` doesn't provide a lot of information abo

[2021-12-29 18:48] mithro opened #179 "Error messages in sdc-plugin leave a lot to be desired"
When an error is reported, it should include information about what is wrong.

See the following examples which could be improved;

* https://github.com/SymbiFlow/yosys-symbiflow-plugins/blob/91d7db03ddbee23f9ff91f395de1692a37e51362/sdc-plugin/sdc.cc#L130
[code]

* https://github.com/SymbiFlow/yosys-symbiflow-plugins/blob/91d7db03ddbee23f9ff91f395de1692a37e51362/sdc-plugin/sdc.cc#L153
[code]
  (It

[2021-12-29 18:59] mithro opened #180 "sdc-plugin doesn't support the `-add` argument"
It seems that some `sdc` solutions (like Quartus and Vivado) support the optional `-add` argument to `create_clock`, see below;
[code]

https://www.intel.com/content/www/us/en/programmable/quartushelp/13.0/mergedProjects/tafs/tafs/tcl_pkg_sdc_ver_1.5_cmd_create_clock.htm

[code]

The semantics are described as;

We should make sure we have tests for;
 - [ ] Using `create_clock` with the **same** n

[2021-12-29 18:59] mithro commented on #177
FYI - I logged the following GitHub issues based on this bug report;
 - https://github.com/SymbiFlow/yosys-symbiflow-plugins/issues/179
 - https://github.com/SymbiFlow/yosys-symbiflow-plugins/issues/178
 - https://github.com/SymbiFlow/yosys-symbiflow-plugins/issues/180

[2021-12-31 11:29] tmichalak commented on #178
We could use the `log_file_error` function instead ([code](https://github.com/YosysHQ/yosys/blob/master/kernel/log.cc#L373))
It produces the output in the following form:
<pre>
sdc.cc:130: ERROR: Incorrect number of arguments
</pre>

[2022-01-26 20:48] olofk commented on #177
Yep. Hitting the same bug here as described in https://github.com/SymbiFlow/yosys-symbiflow-plugins/issues/180 . Removing `-add` makes it pass

[2022-02-08 11:48] QL-Robert opened #216 "Need method of constraining FF in IO"
Currently VPR will not pull FF into IO to improve timing.  the VPR XML will allow dff macro to be directly instantiated into the Verilog code.  Need to add support for the dffr macro.

Example

module NAME
(
    //...
    output reg [1 : 0]  signal_a,
    //...
)
    always @(posedge sys_clk or negedge rst_b)
        begin
        if(!rst_b)
            signal_a <= 0;
        else
            sign

[2022-02-08 17:15] QuantamHD opened #217 "UHDM Plugin: Fails creating an AST for any module who include a parameter type"
[code]

I started off fixing this bug by adding the required vpiTypeParameter handler in the process_object function, but it runs into an issue with the AST in Yosys.

[code]

Yosys by default expects it's parameters to have a defined size. It fails in UhdmAst.cc:278. The wire_node->simplify call into Yosys tries to run detectSignWidthWorker(width_hint, sign_hint, found_real); on an AST_WIRETYPE a

[2022-02-08 19:20] QuantamHD opened #218 "UHDM Plugin: Anonymous structs fail to be converted to AST in current plugin"
Example module

[code]

This example will fail to be read into yosys. Specifically it lacks the information added by add_multirange_attribute both multirange inputs are totally empty in the case of anon_struct, but are filled in for data. Giving a typedef name to the anon struct also fixes the issue.

[2022-02-11 17:18] QuantamHD commented on #218
@kbieganski @alaindargelas added more details in the linked issue above.

[2022-02-14 16:37] QuantamHD commented on #218
@hzeller Can you help prioritize this issue. It's one of the blockers on the internal project

[2022-02-15 12:00] kamilrakoczy commented on #218
@QuantamHD It looks like now we have all necessary information in UHDM file. I've started implementing support for this in uhdm-plugin.

[2022-02-16 14:27] #218 closed

[2022-02-16 14:28] kamilrakoczy commented on #218
@QuantamHD I merged PR adding support for this to master.

[2022-02-24 08:15] tcal-x opened #249 "dsp_ff vs dsp-ff"
@mkurc-ant  -- this may be a packaging issue -- I'm using `yosys` and `yosys-symbiflow-plugins` packages from litex-hub -- I get an error from Yosys:
[code]
but there is a file
[code]

(note `dsp_ff.so` vs `dsp-ff.so`)

[2022-02-24 08:52] mkurc-ant commented on #249
@tcal-x As of yesterday the conda package containing the plugin should be present with the `main` label. Now I can see that I made a typo in the PR description, the plugin file is named `dsp-ff.so` but the Yosys pass name is `dsp_ff`. So you should do `plugin -i dsp-ff` but then `dsp_ff` to use it.

[2022-02-24 16:47] tcal-x commented on #249
Thanks @mkurc-ant that does resolve the issue for me.

[2022-02-24 16:47] #249 closed

[2022-02-25 18:02] tcal-x opened #253 "Is local install supported?"
I don't see any documentation on how to perform a local install (i.e. under `/usr/local`).

If I run `make`, most of the sub-builds succeed generating `.so` files, although I get this error (@hzeller ?):
[code]
When I try `sudo make install`, I get
[code]

This seems to be some strange interaction between `sudo` and the calculation of `YOSYS_PATH` in `Makefile_plugin.common`.   I do have both `/us

[2022-02-25 18:07] hzeller commented on #253
https://github.com/antmicro/surelog-uhdm-ibex-guide gives a good overview what needs to be done.

Essentially, you need Surelog and UHDM present for the module to compile.

[2022-02-26 05:47] tcal-x commented on #253
Ah, this is wrong as pointed out in https://unix.stackexchange.com/questions/32764/why-which-tmux-and-sudo-which-tmux-return-2-different-values -- $PATH gets expanded before getting passed into `sudo`.   If I instead do:
[code]
... I get:
[code]
..which doesn't include `/usr/local/bin`.

So, the mechanism for finding `yosys-config` doesn't work as implemented when run under `sudo`.

[2022-03-29 15:54] mkurc-ant opened #284 "Potential Yosys/ABC instability"
It seems that the `test_full_adder` for `ql-qlf` plugin fails due to a Yosys/ABC instability. Different builds from the same commit yields in different type and count of LUTs inferred for the `comparator` case on `PP3` architecture.

[2022-03-29 15:57] mkurc-ant commented on #284
This PR https://github.com/SymbiFlow/yosys-f4pga-plugins/pull/277 disables the test for now.

[2022-04-04 08:50] rkapuscik opened #287 "SystemVerilog: Support f4pga-examples"
Currently some of the test cases in f4pga-examples fail when using SystemVerilog plugin:

- [ ] button_controller
- [ ] hello-l
- [ ] hello-k
- [ ] litex_sata
- [ ] litex_linux
- [ ] picosoc
- [ ] timer

[2022-04-04 08:51] rkapuscik opened #288 "button_controller"

[2022-04-04 08:51] rkapuscik opened #289 "timer"

[2022-04-06 20:00] QuantamHD opened #293 "UHDM Plugin: Very slow string comparison"
Nearly 11% of the profile in the UHDM plugin is running this block of code. Is there something we can do to speed this up?

* Some of my thoughts are can we create a temporary hash_map for AST::Nodes and their children
* Can we compare a cheaper property than its name. Maybe it's type first?

![image](https://user-images.githubusercontent.com/3784748/162060361-761f44a9-2212-4807-995b-517d15dcb3ea.

[2022-04-07 15:37] QuantamHD commented on #293
@kamilrakoczy Can you take a look, or suggest a path forward. I can send a PR

[2022-04-08 08:20] kbieganski commented on #293
This function should become obsolete if we switched to the elaborated model in UHDM.

If we used the elaborated model, each module instance would only get processed once. Thus removing the need for replacing any of their children.

It would also significantly simplify the module handling code.

I was experimenting with it for a bit, but ran into many issues. Some of our assumptions in the frontend

[2022-04-08 23:16] QuantamHD commented on #293
Is it ever the case that we would want to replace a child whose name is the same, but type is different?

[2022-04-11 05:22] hzeller opened #295 "SystemVerilog plugin: needs basic README pointing to resources"
The systemverilog-plugin directory https://github.com/chipsalliance/yosys-f4pga-plugins/tree/main/systemverilog-plugin
should have a basic README pointing to resources such as

  * Testing - the plugin itself does not contain tests here, point to UHDM-integration-tests
  * Resources how to use for first-time users (surelog -> UHDM workflow as well as directly reading systemverilog workflow)
  * Ma

[2022-04-11 05:42] hzeller opened #296 "Access of empty children nodes."
While processing some UHDM files, I came accross `wire_node->children` to be empty, so the a binary built with [asan](https://clang.llvm.org/docs/AddressSanitizer.html) noticed the illegal access of [`children[0]`](https://github.com/chipsalliance/yosys-f4pga-plugins/blob/1256b0a4297dfa53371f8f63c1c8efa80fb146d5/systemverilog-plugin/UhdmAst.cc#L319)

(this was with the latest Surelog + UHDM from h

[2022-04-12 12:32] rkapuscik commented on #293
I don't think there is a case like this at the moment. There used to be one when we were replacing `parameter` and `localparam` nodes, but it seems to be resolved now in UHDM.

[2022-04-15 15:29] hzeller opened #303 "SystemVerilog Plugin; Update to head - UHDM::uhdmimport changed to UHDM::uhdmimport_typespec"
The module currently does not compile at head of UHDM/Surelog.

In https://github.com/chipsalliance/UHDM/pull/697 `import` was renamed to `import_typespec`. So now in [UhdmAst.cc the case-label needs to change from `UHDM::uhdmimport` to `UHDM::uhdmimport_typespec`](https://github.com/chipsalliance/yosys-f4pga-plugins/blob/d09ffc194ea2f56668bb95b092cbedc93c736473/systemverilog-plugin/UhdmAst.cc#L39

[2022-04-19 23:09] tcal-x commented on #21
I came here to file the same issue.

https://www.gnu.org/prep/standards/html_node/DESTDIR.html

[2022-04-21 08:41] mkurc-ant commented on #21
The thing with Yosys plugins is that they have to be installed in a specific directory in order for Yosys to find them later. This happens automatically because the build system relies on Yosys binaries (namely `yosys-config`). Why do you need to insall them to a different directory?

If you want to build and install plugins for Yosys that resides under a specific path you may set the `YOSYS_PATH`

[2022-04-21 08:46] Xiretza commented on #21
In order to create a package. All files are `make install`ed to a staging directory (`$DESTDIR`), which is then `tar`ed up by the packaging scripts.

No, `yosys` and `yosys-config` are installed in their proper place (`/usr/bin/`) in the build environment, nothing needs to be changed there.

[2022-04-21 23:47] alanvgreen commented on #21
@mkurc-ant It is possible to build plugins with yosys at a non-default location. For example, if yosys is to be installed in `/foo/bin`, first build yosys with `make PREFIX=/foo`. This creates a `yosys-config` with the correct paths (i.e to /foo/bin, /foo/share etc).

Then, as recommended by @Xiretza, build yosys plugins, with `YOSYS_PATH=/foo make`.

See https://github.com/google/CFU-Playground/b

[2022-04-22 07:27] mkurc-ant commented on #21
@alanvgreen Yes, that's definitely possible but as I understand @Xiretza wants to override those paths anyways. Let me work on adding that to the makefile.

[2022-04-22 13:24] mkurc-ant commented on #21
I've created a PR which enables specifying `DESTDIR`: https://github.com/chipsalliance/yosys-f4pga-plugins/pull/306

[2022-05-06 00:27] mithro opened #311 "Create sphinx documentation for the repository"
We should have good documentation for the plugins. We are using Sphinx for everything else, so should use Sphinx here.

[2022-05-06 00:28] mithro commented on #311
We should use the same method of documentation for the C code as https://github.com/verilog-to-routing/vtr-verilog-to-routing

[2022-05-06 00:52] mithro opened #312 "Rename repository to "yosys-chipsalliance-plugins", "yosys-ca-plugins", or "yosys-chips-plugins""
A number of the plugins in this repository are not FPGA specific (plugins like SystemVerilog support using UHDM, SDC support, and design inspection), this makes the "f4pga" in the name a bit confusing.

It probably makes better name to use CHIPS Alliance (or some abbreviation like `CA`, `CHIPS`)?

[2022-05-06 00:53] mithro commented on #312
@mgielda / @kgugala - What do you think?

[2022-05-06 01:00] mithro commented on #311
@umarcor - Could you setup the infrastructure needed here?

[2022-05-06 19:42] hzeller opened #313 "Local function inside generate statement can't be resolved"
Consider the following; important is the local function inside the generate statement which then is used right after it is defined

[code]

Generating UHDM with Surelog and then reading it with yosys with the [systemverilog plugin](https://github.com/chipsalliance/yosys-f4pga-plugins/tree/main/systemverilog-plugin) compiled in

[code]

... will then complain that it can't resolve the function `\lo

[2022-05-06 20:22] alaindargelas commented on #313
I'll check the former possibility

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Henner Zeller ***@***.***>
Sent: Friday, May 6, 2022 12:43:01 PM
To: chipsalliance/yosys-f4pga-plugins ***@***.***>
Cc: alaindargelas ***@***.***>; Mention ***@***.***>
Subject: [chipsalliance/yosys-f4pga-plugins] Local function inside generate statement can't be resolved (Issu

[2022-05-07 11:26] umarcor commented on #311
Maybe we can deal with https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/2006 first?

[2022-05-07 17:23] alaindargelas commented on #313
The problem is in the UHDM->Yosys plugin.
Per Standard the function definition is attached to the module instance, not inside the generate statement, so the plugin has to either:
- lookup for the definition traversing the parent scope recursively (There could be many nested generate statements) until it reaches a module instance, then traverse the list of task_funcs
- Simply from the function call

[2022-05-07 21:16] alaindargelas commented on #313
After checking several scenario with commercial simulator I concluded that the VPI Object model for gen_scope is wrong, I added a task_func property in the model and now this allows to have local declaration of tasks and funcs local to the gen_scope.
Prior to this UHDM was storing the function definition in the parent module of the gen_scope (Due to the limitation of the Standard Object Model).
Th

[2022-05-07 21:41] hzeller commented on #313
Thanks @alaindargelas
@tgorochowik @rkapuscik Adding the corresponding relevant support in the plugin would be a high priority request from us.

[2022-05-07 22:38] alaindargelas commented on #313
Please also note that this slightly different case is legal (The hier path access into the gen_scope from outside the gen_scope part):
https://github.com/chipsalliance/Surelog/blob/master/tests/GenScopeFunc/dut.sv
And is now supported:
https://github.com/chipsalliance/Surelog/pull/2916

[2022-05-09 09:53] #313 closed

[2022-05-09 09:54] rkapuscik commented on #313
@hzeller #314 should make this work (your example passes for me now), please confirm.

[2022-05-09 18:10] hzeller commented on #312
+1

[2022-05-09 20:37] umarcor commented on #312
I suggest to consider reordering to `chipsalliance-yosys-plugins`.

[2022-05-09 20:41] hzeller commented on #312
+2 :)

[2022-05-10 06:28] hzeller commented on #313
affirmative :)

[2022-05-10 21:40] QuantamHD opened #316 "Select Out of Bounds Error"
The following snippet of SystemVerilog emits out of bounds warnings. This is not correct, and I suspect some interaction is broken with the $signed function.

Filed bug against Surelog https://github.com/chipsalliance/Surelog/issues/2924

[code]

## Error

[code]

[2022-05-11 01:00] hzeller opened #317 "Identifier defined in a named block can not be resolved ('Failed to detect width for identifier ...')"
A register, declared inside a named block can not be resolved (Yosys reports that it doesn't know the 'width' of the identifier, but that is probably due to it not resolving it properly).

Consider this test case:

[code]

Running this through surelog -> UHDM then reading it in Yosys results in:
[code]

So it looks like, Yosys attempts to look up this name `foo` with the `named_block` namespace pr

[2022-05-11 04:18] alaindargelas commented on #317
A recent change I did duplicated this var:  \_logic_var: (work@top.named_block.foo)
as you can see there are 2 entries. I fixed that with [#2926](https://github.com/chipsalliance/Surelog/pull/2926).
That could be the problem. The UHDM dump looks ok besides that.

[2022-05-11 04:43] hzeller commented on #317
This looks like to be working now, thanks!

[2022-05-11 04:43] #317 closed

[2022-05-14 04:17] alaindargelas opened #320 "systemverilog plugin build recipe"
All the plugins compile out of the box, except the systemverilog plugin.
I'd like to get to the following instructions:
cd Surelog
make ; make install
cd yosys-f4pga-plugins
make ; make install

But right now I have to add the non-intuitive:
cd yosys-f4pga-plugins
make LDFLAGS="-L/usr/local/lib/surelog -L/usr/local/lib/uhdm"
make install

[2022-05-18 08:34] #320 closed

[2022-05-19 20:11] minghungumich opened #326 "Build UHDM plugin error"
I was trying this repo https://github.com/antmicro/yosys-uhdm-plugin-integration to add system verily plugin into yosys.
But when I try to run the build_binaries.sh script, it stuck at UHDM plugin part. I believe it is related to this repo. https://github.com/chipsalliance/yosys-f4pga-plugins
The error message is listed below. The compiler is complaining some file missing, but I guess it might be

[2022-05-19 20:13] minghungumich commented on #326
@mithro @msaligine

[2022-05-20 07:30] tgorochowik commented on #326
Thanks for the report!

It looks as thought the SDC plugin is failing to build. We will take a look at this, there are two actions I think are needed:
* See if the SDC plugin can be built with gcc-12 - fix it with not
* make sure we don't unnecessarily build all plugins in the uhdm integration repository, as they are not installed there anyway

In the meantime, to answer your other question - yes,

[2022-05-20 07:36] tgorochowik commented on #326
You can see the dependencies being set up here:
https://github.com/antmicro/yosys-uhdm-plugin-integration/blob/2cd481dab4c40696a5b14763eae1ef302619a1d6/.github/workflows/main.yml#L22-L31

And the build is started here:
https://github.com/antmicro/yosys-uhdm-plugin-integration/blob/2cd481dab4c40696a5b14763eae1ef302619a1d6/.github/workflows/main.yml#L51-L63

So gcc-9 is used currently, it should wor

[2022-05-20 08:08] tgorochowik commented on #326
The error in the SDC plugin seems to be this addressed here: #324

[2022-05-20 18:39] minghungumich commented on #326
Thanks @tgorochowik ! I am able to install the system verilog plugin in yosys from the release packages.

[2022-05-22 19:10] minghungumich commented on #326
@tgorochowik @mithro @msaligane Currently I can use system verily plugin with example on my host. But when I want to install this in my docker, I found it needs higher version of libstdc++so.6 (`GLIBCXX_3.4.20' not found, I only have up to 19). And it is not supported in my original docker image, so I want to ask do we have the docker image that install all of this tool inside? I am currently usin

[2022-05-22 20:42] alaindargelas opened #331 "Support separate compilation model with read_systemverilog"
With https://github.com/chipsalliance/Surelog/pull/2956, we can now support the separate compilation model with read_systemverilog like in Yosys origical read_verilog.
Each separate compilation invocation creates its own compilation unit (all the files in that line share preprocessor name space).
Separate compilation invocations can run in parallel processes.
One final link step reads back all sav

[2022-05-23 11:05] umarcor commented on #326
@minghungumich there are containers maintained in [hdl/containers](https://github.com/hdl/containers) which provide a preinstalled environment to work with F4PGA tools. See [hdl.github.io/containers: Tools and images » F4PGA (Conda)](https://hdl.github.io/containers/ToolsAndImages.html#f4pga-conda). Those are created using the Conda environments from [f4pga-examples](https://github.com/chipsallian

[2022-05-23 23:01] hzeller opened #333 "Various Assert() errors running sv-tets"
Looking through failures in sv-tests (all log-files that indicate failure: `find out/logs/UhdmYosys/ -name "*.log" | xargs grep -l "tool_success: 0"`)

There are some assertions in UhdmAst or Yosys triggered. We should use these as an opportunity to handle these cases more gracefully.

Asserts seen:
[code]

[2022-05-23 23:10] hzeller opened #334 "Unhandled typespecs in sv-tests"
Looking at all failed tool invocations in sv-tests (`find out/logs/UhdmYosys/ -name "*.log" | xargs grep -l "tool_success: 0"`), there are a number of 'unhandled typespec' situations.

Here is a list that we can use as a burn-down list:

[code]

[2022-05-23 23:18] hzeller opened #335 "uhdm-plugin: "Encountered unhandled object" ... in sv-tests"
Looking at the logs with failures in sv-tests, there are a bunch that fail with messages like
`Encountered unhandled object 'new' of type 'method_func_call'`

Below is a table of number of times we see 'of type X' in the sv-tests. This should be a good burn-down list of dealing with it more gracefully:

[code]

[2022-05-23 23:25] hzeller opened #336 "uhdm-plugin: 'failed to evaluate system function ... with non-constant argument`"
Looking through failures in sv-tests, there are a bunch of tests that fail because an argument could not be constant evaluated.
Unclear if this is due to upstream (Surelog->UHDM) not providing the const-evaluated values or if this is something that the receiving Yosys can't do yet.

To be determined; here the burn-down list (`$display` in particular seems to be unhappy a lot of times)

[code]

[2022-05-25 21:16] minghungumich commented on #326
@umarcor @tgorochowik @mithro @msaligane I am currently trying to use OpenROAD-flow-scripts with system verilog plugin. https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/master/flow/scripts/synth_preamble.tcl#L23 I modify this line from read_verilog $file to read_systemverilog $file. Besides, I insert "plugin -i systemverilog" before reading system verilog file. The log displays E

[2022-05-25 21:32] msaligane commented on #326
@minghungumich can you first see what are the issues with the synthesized netlist first before modifying any of the flows?
We can always tweak ORFS or OL to read in SV-based designs when the above is done.

[2022-05-26 15:41] rkapuscik commented on #326
As a note, for now the `read_systemverilog` command requires all files to be parsed at the same time, the script calls `read_verilog` separately for each file so simple substitution won't work here.
Support for separate compilation is being worked on, only recently Surelog made it possible as described in #331.

[2022-05-27 00:09] tcal-x opened #338 "systemverilog-plugin: missing dependence "uhdm/uhdm.h""
I see this when I run `make all` in `systemverilog-plugin` :

[code]

[2022-05-27 16:03] tcal-x commented on #338
I see that https://github.com/chipsalliance/yosys-f4pga-plugins/tree/main/systemverilog-plugin#readme does point to the [integration repo](https://github.com/antmicro/yosys-uhdm-plugin-integration) that would handle this issue.

[2022-05-27 17:58] minghungumich opened #339 "How to build tcl script file for yosys systemverilog plugin?"
As #326 points, I can reproduce the systemverilog result in #295 in yosys interactive mode.
If I use the script mode and run the script below `yosys -s script_file`, it can run to the end and output the netlist.
[code]

But when I try to do the similar thing in the tcl script file, it cannot identify the read_systemverilog command.
Here is my tcl script. I add `yosys -import`  to support yosys com

[2022-05-27 18:03] minghungumich commented on #339
@rkapuscik @kgugala @hzeller @umarcor @tgorochowik @mithro @msaligane Now I can build the systemverilog plugin but I face issue with running those commands as a tcl script file.

[2022-05-29 02:39] msaligane commented on #339
@minghungumich can you please add more description to this issue

[2022-05-29 07:49] minghungumich commented on #339
@msaligane The issue has been updated.

[2022-05-29 17:58] mithro commented on #339
@kgugala / @hzeller - Can you help figure out what is going on here and how the documentation needs to be updated so other people don't run into the same issue?

[2022-05-30 11:40] rkapuscik commented on #339
This is caused by a somewhat counterintuitive way Yosys commands are added to tcl - and it affects every plugin. You need to re-import the commands after adding the plugin to gain access to them in tcl, like this:
[code]
You can also take a look at how it's done in the [tests](https://github.com/chipsalliance/yosys-f4pga-plugins/blob/main/systemverilog-plugin/tests/counter/counter.tcl) for the [pl

[2022-05-31 08:42] lilitrs opened #341 "Issue related to the BRAM inference"
After latest changes in synth_ql regarding the BRAM inference got the following issue for qlf_k6n10f family:

BRAM: RegFilePlugin_regFile.0.0.0 ($__RSF_FACTOR_BRAM18_TDP) + RegFilePlugin_regFile.1.0.0 ($__RSF_FACTOR_BRAM18_TDP) => bram_RegFilePlugin_regFile.0.0.0_RegFilePlugin_regFile.1.0.0 (BRAM2x18_TDP)
terminate called after throwing an instance of 'std::out_of_range'
  what():  Cell::getParam(

[2022-06-01 09:26] Xiretza commented on #21
Later amended by #323.

[2022-06-02 17:21] minghungumich commented on #339
Thanks! That change works!

[2022-06-02 17:21] #339 closed

[2022-06-02 18:01] minghungumich opened #345 "Systemverilog-plugin fails to identify macro function"
In my design, there is a definition for macro function as shown below.
[code]
I check this can be compiled in design compiler successfully, but fails in this plugin as shown below. Do I have another alternative for this macro function or there is other option command needs to be added.
[code]

[2022-06-02 18:05] minghungumich commented on #345
@mithro @msaligane I face another issue that yosys cannot identify for this type of macro function.

[2022-06-03 12:41] rkapuscik commented on #345
Thanks for reporting this.

Generally errors with format like that (`[ERR:XXXX] ...`) come from Surelog, but I couldn't reproduce the one you reported. Can you share the file where you use this macro (or a minimal example) and a script fragment where you read the definition and the file?

Also, maybe using `$clog2()` would work for you? It should be supported by both Surelog and the plugin.

[2022-06-03 13:31] minghungumich commented on #345
@rkapuscik I tried `$clog2()` works for my case. This is [system verilog file](https://github.com/minghungumich/OpenROAD-flow-scripts/blob/master/flow/designs/src/pulpino_yosys/ips/apb/apb_spi_master/apb_spi_master.sv) defining the macro and [script](https://github.com/minghungumich/OpenROAD-flow-scripts/blob/master/flow/scripts/synth_systemverilog.tcl) I run for yosys plugin.

[2022-06-03 13:36] minghungumich commented on #345
@rkapuscik I just found another issue after fixing `log2` macro error. [This file](https://github.com/minghungumich/OpenROAD-flow-scripts/blob/master/flow/designs/src/pulpino_yosys/ips/apb/apb_event_unit/generic_service_unit.sv#L59) uses break statement in the for loop. It should be synthesizable but it displays error message below.
[code]

[2022-06-06 08:47] mkurc-ant commented on #341
Thank you for reporting the issue. I've managed to reproduce it locally. Working on a solution.

[2022-06-14 13:57] lpawelcz commented on #341
Hi @lilitrs, I've opened a PR: https://github.com/chipsalliance/yosys-f4pga-plugins/pull/348 that fixes your problem. I tested it on both of your designs and it looks OK now.

[2022-06-15 00:57] hzeller opened #351 "CI needs to compile with -Werror to detect accidental issues early"
The CI were not compiling the UHDM plug-in with `-Werror`, so a missing `break` statement in a switch/case went un-noticed (fixed in #350).

So feature request: tighten the CI so that it uses the highest level of available warnings switched on with an explicit `-Werror` to prevent accidental check-in (the regular Makefile might not have `-Werror` to allow for new things that come up in warnings, b

[2022-06-15 15:05] hzeller commented on #351
Yes, since it is disabled in #325, we need to enable it back at least in the CI.

We can explicitly disable the warnings we get from Yosys, but everything else should be enabled (I already had the Makefile for the systemverilog plugin prepared to do that).

The CI in Verible also does that: enable everything, disable the ones we can't avoid ([here](https://github.com/chipsalliance/verible/blob/mas

[2022-06-21 11:23] #351 closed

[2022-06-29 11:54] kbieganski commented on #335
With https://github.com/chipsalliance/yosys-f4pga-plugins/pull/243, https://github.com/chipsalliance/yosys-f4pga-plugins/pull/357, and https://github.com/chipsalliance/yosys-f4pga-plugins/pull/358 merged, we should only have these unhandled objects remaining:
* `type_parameter`
* `foreach_stmt`
* `forever_stmt`
* `do_while`

[2022-07-08 09:19] acomodi opened #365 "Failure due to latest yosys version"
There is a failure due to the usage of the latest yosys version (`yosys-0.19_3_g086c2f`): https://github.com/chipsalliance/yosys-f4pga-plugins/runs/7217620585?check_suite_focus=true.

As a short-term fix we can pin the yosys version to a previous working commit, and then investigate what is the cause of the failure and fix it.

[2022-07-15 01:45] hzeller opened #366 "Yosys-plugin: use-after-delete if unused module removed"
Running the plugin with [address sanitizer](https://clang.llvm.org/docs/AddressSanitizer.html) revealed that there are situations that deleted objects are re-used.

I hot-fixed it locally by skipping the deleted values, but I suspect a proper fix would possibly removing it from the container; leaving it up to you.

[code]

We really need https://github.com/antmicro/yosys-uhdm-plugin-integration/is

[2022-07-15 16:49] Pocketkid2 opened #367 "Can't get ql-qlf plugin to compile on fresh clone"
I'm trying to build the yosys plugins (specifically I need ql-qlf) for an f4pga install targeting QuickLogic EOS-S3, but I keep getting these compile time errors. Am I missing something?

https://pastebin.com/YtqX4Wp0

[2022-07-15 18:51] Pocketkid2 commented on #367
Turns out I was using the wrong version of Yosys/GCC

[2022-07-17 18:55] alaindargelas opened #368 "Documentation for systemverilog plugin"
1) The -defer option should be documented explicitly as:
All files compiled in an invocation of systemverilog -defer file1.v file2.v  are compiled as a single **compilation unit**.
Several compilation units can be created with separate invocations of "systemverilog -defer ..."

I would have called the option -unit instead of -defer, Compilation units are understood by the Verilog community.

2) Ca

[2022-07-18 13:21] lilitrs commented on #341
Verified. Closing the issue as it is fixed.

[2022-07-18 13:21] #341 closed

[2022-07-21 17:56] kanndil opened #372 "Document how to run the plugins, and how to contribute."
I am working on a plugin, and am trying to figure out how to add it to this repo.

I can't figure out whether this repo is just a collection of plugins, and each plugin works independently and is built independently,
or it implements a way of building all the plugins at once. And if so, what steps should I follow before I add my plugin, and pull request.

[2022-07-22 12:54] tmichalak commented on #372
@kanndil glad to hear that you are working on a plugin that clearly planning to contribute by opening a PR.
This repo holds the sources and tests for the plugins so you came to the right place :)
We don't have a step-by-step guide in the documentation, but you can use any of the existing directories/plugins as reference (such as the [sdc-plugin](https://github.com/chipsalliance/yosys-f4pga-plugins

[2022-07-23 21:40] kanndil commented on #372
@tmichalak  Thank you for you response.

I followed the instructions, however still having a problem running the makefile and the (plugin -i) command.

When I run the makefile, I expect a plugin_name.so file to be added to Yosys's shared folder, but the file remains empty.

[2022-07-26 15:47] hzeller commented on #366
Any update on this one ?

[2022-07-26 16:15] kanndil commented on #372
Apparently I have the same problem in issue #74

[2022-07-26 16:30] tmichalak commented on #372
@kanndil, but you are able to build the .so file, correct? Do you call `make install` ?

[2022-07-26 16:33] kanndil commented on #372
@tmichalak yes, the building works fine, only the copying to the shared folder part doesn't work

[2022-07-26 17:05] rkapuscik commented on #366
This is being worked on as part of https://github.com/antmicro/yosys-uhdm-plugin-integration/pull/913 - I'll try to split that PR to get some of the changes merged faster.

[2022-07-27 07:35] tmichalak commented on #372
@kanndil have you tried `install -d` ?

[2022-07-27 16:15] kanndil commented on #372
@tmichalak removing the -D option worked for me, the shared object file is copied successfully to the directory
<img width="682" alt="Screen Shot 2022-07-27 at 6 14 03 PM" src="https://user-images.githubusercontent.com/63082375/181297422-8350cc41-c4c3-47e1-b6ff-02d71680f8f2.png">

[2022-08-25 22:31] dpetrisko opened #380 "verilog_defaults doesn't work with systemverilog plugin"
Hi, not sure if this the right place to ask.

I'm trying to use the systemverilog plugin for yosys, but I'm having trouble with include paths. The UHDM frontend doesn't seem to pick up the verilog_defaults.

yosys> plugin -i systemverilog
yosys> verilog_defaults -add -Ibasejump_stl/bsg_misc
yosys> read_systemverilog basejump_stl/bsg_cache/bsg_cache_pkg.v

[code]

On the other hand, this works:
[co

[2022-08-27 14:44] tgorochowik commented on #380
This should be fixed by
#377

It adds SV equipments of those commands

[2022-08-27 15:45] dpetrisko commented on #380
Thank you!

[2022-10-04 14:20] mglb opened #385 "systemverilog-plugin: union as a struct member is not supported in expressions with a dot"
Example (`file.sv`):
[code]

Execute:
[code]

Result:
[code]

Error source: https://github.com/chipsalliance/yosys-f4pga-plugins/blob/27208ce08200a5e89e3bd4f466bc68824df38c32/systemverilog-plugin/UhdmAst.cc#L474-L476

[2022-10-18 16:18] mglb opened #390 "systemverilog-plugin: Error when defining multiple enum variables in a single statement."
Example (`file.sv`):
[code]

Execute:
[code]

Result:
[code]

[2022-10-28 08:30] #385 closed

[2022-11-08 22:14] mglb opened #396 "systemverilog-plugin: parameter/localparam in module instance does not work correctly with concat assignments"
**Yosys commands:**

[code]

**Input (`test.sv`)**

[code]

**`write_verilog` output**

[code]

## Similar examples with a correct behavior

### `A` is top module, not an instance:

**test.sv:**

[code]

**`write_verilog` output**

[code]

### `a_param` is an integer, concat is not used

**test.sv:**

[code]

**`write_verilog` output**

[code]

[2022-11-16 12:47] mglb opened #400 "systemverilog-plugin: `enum`s are always 32-bit"
Enums like `enum logic [2:0]` are seen as 32 bit wide types. This is a problem only inside the plugin - yosys converts them to properly sized types in later stages.

Test case:
[code]
causes an error:
[code]

After commenting out the union and using `write_verilog` in yosys the sizes are correct:
[code]

[2022-11-21 02:54] hannesha opened #403 "IO_LOC_PAIRS not set for OBUFT with T input connected to net"
I tried to use 3-state outputs in a project, but the outputs are not driven at all. Setting `T` to 0 drives the outputs as expected.

I created a minimal example on a basys3 board with two switches to reproduce this issue.

Looking through the files revealed that `.IO_LOC_PAIRS` is set to `"NONE"` for the affected `OBUFT`, in the `.eblif` file.
Manually setting `.IO_LOC_PAIRS` on the `OBUFT` makes

[2022-11-22 03:39] alaindargelas opened #404 "Update uhdmastfrontend.cc to use changed SynthSubset constructor"
@rkapuscik , please update: uhdmastfrontend.cc: In member function 'virtual Yosys::AST::AstNode* Yosys::UhdmAstFrontend::parse(std::string)':
02:42:28 | uhdmastfrontend.cc:47:120: error: no matching function for call to 'UHDM::SynthSubset::SynthSubset(UHDM::Serializer*, std::set<const UHDM::BaseClass*>&, bool)'
02:42:28 |    47 |         UHDM::SynthSubset *synthSubset = new UHDM::SynthSubset(&seri

[2022-11-24 07:11] #404 closed

[2022-11-29 21:06] Darksecond opened #410 "Support $past function in formal mode"
Currently read_uhdm (and by extension read_systemverilog) ignore the $past function that yosys read_verilog currently supports. This makes it fairly hard to write formal test benches as they tend to use the $past function.

[2022-11-30 16:17] shakouri opened #412 "Yosys verilog reader enhancement request"
The yosys verilog reader is not able to parse verilog code that other synthesis tools are able to parse. sv2v plugin is not working either.

1.  Allow parameter passing w/o use of parantheses ('-' denotes original RTL, and '+' denotes changes to make yosys read it in):
<img width="509" alt="yosys_case1" src="https://user-images.githubusercontent.com/4813157/204639014-4f538834-d7c5-4f52-b04e-b3b09e

[2022-11-30 16:40] mithro commented on #412
@shakouri - I was actually talking about;

[2022-11-30 16:50] shakouri commented on #412
Thanks. If someone can tell me how to fix this error so I can try this plugin also that would be great!.

[2022-11-30 17:01] pgielda commented on #412
@mithro
"0x7F 0x45 0x4C 0x46 0x02 0x01 0x01 0x03" means:
0x7F 0x45 0x4C 0x46 == 0x7F "ELF" [ELF HEADER]
0x02 => 64-bit binary
0x01 => Little Endian
0x03 => Linux

Maybe the host is not a 64-bit Little Endian Linux?

[2022-11-30 17:12] shakouri commented on #412
I am running on a mac m1 processor. Where should I get the plugin for it?

[2022-11-30 17:15] pgielda commented on #412
You're running Linux on Mac M1, or MacOS / OSX?

[2022-11-30 17:16] pgielda commented on #412
(In any case, if the plugin was not compiled from scratch, it will not work on ARM. If its MacOS -- ELF is not even the format that MacOS uses, MacOS uses dylib files).

[2022-11-30 17:22] shakouri commented on #412
It is a MacOS using M1 processor. I have not been able to compile it from scratch, so I was trying to download it if the plugin exists for MacOS.

[2022-11-30 20:59] pgielda commented on #412
Not yet unfortunately, current focus is Linux. We provide binaries for x86_64 and I am pretty sure you would be able to compile from scratch on ARM64 + Linux but we're currently not targetting MacOS.

We do plan to change that long term but short term no other solution than to try to compile from sources and then fix any issues that occur.

[2022-11-30 22:31] shakouri commented on #412
Is it possible to check if the three verilog cases work with UHDM plugin?